@font-face {
    font-family: "futurabol";
    src: url("./fonts/Futura-Bol.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "futuraboo";
    src: url("./fonts/Futura-Boo.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "futurabooobl";
    src: url("./fonts/Futura-BooObl.ttf") format("truetype");
    font-display: swap;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 100vh;
    background-position: center;
	background-size: cover;
    position: relative;
}

a{
    color: #fff;
    text-decoration: none;
    text-align: center;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 30px;
    position: absolute;
    top: 40px;
    list-style: none;
    width: 100%;
    padding: 0 65px;
}

header a{
    font-size: 24px;
    font-family: "futuraboo";
    transition: color 0.5s ease;
}

header a:hover{
    color: #355be3;
}

header img{
    width: 900px;
}

header p{
    color: #fff;
    font-size: 45px;
    font-family: "futurabooobl";
    margin-top: 25px;
}

@media (max-width: 1024px) {
    header img {
        width: 80%;
    }

    header p {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    header ul {
        display: none;
    }

    header p {
        font-size: 24px;
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.intro{
    text-align: center;
}

.section-title{
    color: #445fd3;
    font-size: 56px;
    font-family: "futurabol";
    display: inline-block;
    margin: 40px 0px;
}

.container{
    width: 100%;
    max-width: 1200px;
}

.intro .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro_content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 64px;
}

.intro_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    margin: 0 50px;
}

.intro img{
    width: 500px;
}

.intro p{
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
    line-height: 2.0;
    width: 400px;
}

.intro a{
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 45px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.intro a:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.blue_btn{
    background-color: #355be3;
}

.yellow_btn{
    background-color: #f5c518;
}

.reverse{
    flex-direction: row-reverse;
}

#particles-js {
  position: absolute;
  background-color: rgb(217, 232, 255);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 46px;
    }
    
    .intro_content {
        flex-direction: column;
        gap: 16px;
    }

    .intro_text {
        max-width: 500px;
    }

    .intro img {
        width: 100%;
        max-width: 500px;
    }

    .intro p {
        font-size: 13px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section{
        padding: 20px;
    }
}

@media (max-width: 450px) {
    .section-title {
        font-size: 32px;
    }

    .intro img {
        width: 100%;
    }
}

.courses{
    padding: 85px 0 80px;
    text-align: center;
    position: relative;
}

.courses .container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
}

.courses_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 30px 35px;
    flex: 0 0 240px;
    row-gap: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.courses a{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 30px;
    width: 180px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.courses a:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.courses p{
    font-size: 14px;
    font-weight: bold;
}

.courses img{
    height: 100px;
    margin-bottom: 25px;
}

.orange_btn{
    background-color: #e8742c;
}

.blue_btn{
    background-color: #0d84fa;
}

.black_btn{
    background-color: #2d2d2d;
}

.red_btn{
    background-color: #ff214a;
}

.lightyellow_btn{
    background-color: #eee600;
}

.lightorange_btn{
    background-color: #ffa82e;
}

.skyblue_btn{
    background-color: #2ac0db;
}

.images{
    padding: 80px 0 50px;
    text-align: center;
}

.images .container{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.slider {
    width: 100%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: 230px;
    object-fit: cover; 
}

.slick-prev:before, .slick-next:before {
    color: #000000 !important;
    font-size: 20px;
}

.access{
    padding: 60px 0 30px;
    text-align: center;
}

iframe{
    height: 400px;
}

footer{
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    font-family: "futuraboo";
    color: #355be3;
}


.fuwatAnime {
    -webkit-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:3.0s;
    -ms-animation-duration:3.0s;
    animation-duration:1.0s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
    0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
    100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}